<h5>Cálculo reverso com Observables</h5>

<app-labeled-input
  label="Salário líquido desejado:"
  [currency]="false"
  [disabled]="calculandoDados"
  [value]="salarioLiquidoDesejado"
  (change)="changeSalarioLiquido($event.target.value)"
></app-labeled-input>

<button
  class="btn"
  [disabled]="calculandoDados"
  (click)="calcularBrutoFromLiquido(salarioLiquidoDesejado)"
>
  Calcular salário bruto correspondente
</button>
