<div class="row">
  <img
    src="./assets/angular.png"
    width="100px"
  >
  <h3>Cálculo de salário com Angular</h3>
</div>

<div class="content">
  <app-tempo-real
    [salario]="salario"
    class="mainContent"
    (valueChanged)="updateSalario($event)"
    [calculandoDados]="calculandoDados"
  ></app-tempo-real>

  <app-calculo-reverso
    (buttonClicked)="calcularBrutoFromLiquidoDesejado($event)"
    class="sideContent"
    [calculandoDados]="calculandoDados"
  ></app-calculo-reverso>
</div>
